<%- include('header')%>
<form action="/sendmail" method="post">
    <input type="email" name="email" placeholder="Enter email registered Email">
    
    <button>Send Mail</button>
</form>
<%- include('footer')%>