<%- include('header')%>

<div id="page2">
<div id="box1">
    <h1>Signup</h1> <br><br><br>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username"><br> <br>
    <input type="password" name="password" placeholder="password"><br> <br>
    <input type="email" name="email" placeholder="email"><br> <br>
    <div id="sgn"><button>Signup</button></div><br> 
    <hr>
    <br>
    <div id="btn">
    <div id="btn1"><a href="/signin">SignIn</a></div>
</div>
</form>

</div>
</div>
<%- include('footer')%>