<%- include('header')%>
<div id="page3">
<div id="box2">
    <h1>SignIn</h1> <br><br>
<form action="/signin" method="post">
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="password" name="password" placeholder="password"><br><br>
    <div id="btns"><button>Signin</button> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/forget">forget password</a>
    </div>
</form>
</div>
</div>
<%- include('footer')%>